.bottom-content {
    width: 60%;
    filter: drop-shadow(0px 1px 10.5px rgba(0, 0, 0, 0.15));
    background-color: #b1bbc3;
    border: 1px solid #b8b8b8;
}

.choose__button {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    .choose__button-circle {
        cursor: pointer;
    }
}

.choose {
    display: flex;
}

.choose__left,
.choose__right {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.choose__left-img {
    height: 100%;
    width: 100%;
}

.choose__button-circle {
    width: 280px;
    height: 280px;
    border-radius: 140px;
    background-color: $yellow;
    font-size: 36px;
    color: #1e1e1e;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border: 0;
}