.header-content {
    height: 100vh;

}

.header-content__backgraund-list {
    .header-content__backgraund-item {
        height: 100vh;

        .backgraund-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

